# Dependencias
node_modules/
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de compilación
dist/
build/
.next/
out/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store



# Variables de entorno
.env
techo-backend.zip
techo-frontend.zip
seed.sql

# Archivos subidos por usuarios
techo-backend/backend/uploads/*
!techo-backend/backend/uploads/.gitkeep
techo-backend/backend/uploads/reportes/*
!techo-backend/backend/uploads/reportes/.gitkeep
techo-backend/backend/tmp/
